header div.bg {
  width: 100%;
  height: 100vh;
  background-image: url(../hotel-image/header-hotel.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
header div.bg img.bg-image {
  width: 100%;
}
header div.bg nav {
  padding: 1rem;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
}
header div.bg nav ul.language li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
header div.bg nav ul.logo-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
@media all and (min-width: 1024px) {
  header div.bg nav ul.logo-menu {
    height: 50px;
  }
}
header div.bg nav ul.logo-menu li.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}
header div.bg nav ul.logo-menu li.logo img {
  width: 2rem;
}
@media all and (min-width: 1024px) {
  header div.bg nav ul.logo-menu li.logo p {
    font-size: 1.5rem;
  }
}
header div.bg nav ul.logo-menu li.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
@media all and (min-width: 1024px) {
  header div.bg nav ul.logo-menu li.menu {
    display: none;
  }
}
header div.bg nav ul.logo-menu li.menu img {
  width: 1.5rem;
}
header div.bg nav ul.logo-menu li.desk-menu {
  display: none;
}
@media all and (min-width: 1024px) {
  header div.bg nav ul.logo-menu li.desk-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    font-size: 1.5rem;
    margin: auto;
    cursor: pointer;
  }
  header div.bg nav ul.logo-menu li.desk-menu p:hover {
    box-sizing: border-box;
    padding: 0.5rem;
    font-weight: bolder;
  }
}
header div.bg div.banya {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
header div.bg div.banya div {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 5px rgba(124, 124, 124, 0.8);
}
@media all and (min-width: 1024px) {
  header div.bg div.banya div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
}
@media all and (min-width: 1024px) {
  header div.bg div.banya {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    gap: 0;
    font-size: 1.5rem;
  }
}
header div.bg div.menubox {
  width: 100vw;
}
@media all and (min-width: 1024px) {
  header div.bg div.menubox {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    cursor: pointer;
    background-color: rgba(62, 62, 62, 0.5);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
header div.bg div.menubox div.day-box {
  width: 100%;
  background-color: rgba(62, 62, 62, 0.5);
}
@media all and (min-width: 1024px) {
  header div.bg div.menubox div.day-box {
    background-color: unset;
    width: auto;
  }
}
header div.bg div.menubox div.day-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
@media all and (min-width: 1024px) {
  header div.bg div.menubox div.day-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
  }
}
header div.bg div.menubox div.day-box ul li {
  color: #fff;
}
header div.bg div.menubox div.day-box ul li img {
  width: 2rem;
}
@media all and (min-width: 1024px) {
  header div.bg div.menubox div.day-box ul li img {
    width: 3vw;
  }
}
header div.bg div.menubox div.headcount {
  display: none;
  color: #fff;
}
@media all and (min-width: 1024px) {
  header div.bg div.menubox div.headcount {
    display: block;
  }
}
header div.bg div.menubox div.headcount ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
header div.bg div.menubox div.headcount ul li img {
  width: 4vw;
}
header div.bg div.menubox div.headcount ul li button {
  background-color: #C8B89F;
  padding: 2rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
header div.bg div.menubox div.headcount ul li button:hover {
  color: #C8B89F;
  background-color: #F7F4F1;
  transition: 0.5s;
}

main section.special-offers {
  width: 100%;
}
main section.special-offers h2 {
  text-align: center;
  margin: 1rem 0;
  color: #003D30;
}
main section.special-offers div img {
  width: 1.5rem;
}
main section.special-offers ul.spacial-menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media all and (min-width: 1024px) {
  main section.special-offers ul.spacial-menu {
    flex-wrap: nowrap;
  }
}
main section.special-offers ul.spacial-menu li {
  padding: 0.5rem;
  text-align: center;
  flex: 1 1 30%;
  font-size: 1.2rem;
}
@media all and (min-width: 1024px) {
  main section.special-offers ul.spacial-menu li:hover {
    color: #fff;
    background-color: #C8B89F;
    font-weight: bold;
  }
}
main section.special-offers ul.packge {
  width: 85%;
  margin: 1rem auto;
  display: none;
}
@media all and (min-width: 1024px) {
  main section.special-offers ul.packge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
}
main section.special-offers ul.packge li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
main section.special-offers ul.packge li p:nth-child(1) {
  color: #003D30;
  text-align: left;
  cursor: pointer;
}
main section.special-offers ul.packge li img {
  width: 1rem;
}
main div {
  position: relative;
}
main div div.diraction-icon {
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
@media all and (min-width: 1024px) {
  main div div.diraction-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70rem;
  }
}
main div div.diraction-icon img {
  width: 2rem;
}
main ul.offers {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 4rem;
}
main ul.offers li {
  width: 300px;
  text-align: left;
}
main ul.offers li:nth-of-type(2), main ul.offers li:nth-of-type(3) {
  display: none;
}
@media all and (min-width: 1024px) {
  main ul.offers li:nth-of-type(2) {
    display: block;
  }
  main ul.offers li:nth-of-type(3) {
    display: block;
  }
  main ul.offers li:nth-of-type(3) img {
    object-fit: cover;
    height: 164px;
  }
}
main ul.offers li img {
  width: 300px;
}
main section.membership h2 {
  text-align: center;
  color: #003D30;
}
main section.membership ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
}
@media all and (min-width: 1024px) {
  main section.membership ul {
    width: 1028px;
    margin: 0 auto;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 0;
  }
}
main section.membership ul li {
  position: absolute;
  padding: 1rem;
  width: 450px;
  height: 350px;
  background-image: url(../hotel-image/hotel-lobby.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
main section.membership ul li:nth-of-type(1) {
  z-index: 10;
}
main section.membership ul li:nth-of-type(2) {
  background-image: url(../hotel-image/btwin.png);
}
main section.membership ul li:nth-of-type(3) {
  background-image: url(../hotel-image/online.png);
}
@media all and (min-width: 1024px) {
  main section.membership ul li {
    border-right: 1px solid #fff;
    width: 800px;
  }
  main section.membership ul li:nth-of-type(2) {
    margin-left: 113px;
    z-index: 1;
  }
  main section.membership ul li:nth-of-type(3) {
    margin-left: 226px;
  }
}
main section.membership ul li h4 {
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */