@mixin flex-layout ($justify:center,$align:center,$diraction:row,$gap:1rem) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $diraction;
  gap:$gap;
}

@mixin desktop{
  @media all and (min-width:1024px) {
    @content;
  }
}