@mixin flex-layout($justify:center ,$align:center,$direction:row,$gap:10px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin tablet{
  @media all and (min-width:768px) {
    @content;
  }
}

@mixin desktop{
  @media all and (min-width:1200px) {
    @content;
  }
}