@mixin flex-layout ($direction:row,$justify:center,$align:center,$gap:1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
// 반응형 구간에 따른 정의
@mixin tablet{
  @media all and (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width:1200px) {
    @content;
  }
}

