@charset "utf-8";

@use "scss/variables" as *;
@use "scss/mixin2" as mixin;

// 모바일을 기본으로 반응형 만들기
body{
  background-color: $bg-color;
  color: $font-main;
  padding: 1rem;
}

header{
  div.mobile-search{
      @include mixin.flex-layout();
      box-shadow:$base-shadow;
      height: 2rem;
      border-radius: $card-radius;
      img{
        width: 1rem;
    }
  }
  // nav영역
  nav{
    ul{
      @include mixin.flex-layout($justify:space-between);
      li{
        @include mixin.flex-layout($direction:column);
        padding: $base-padding;
        position: relative;
        img{width: 5rem;}
        p{
          color: $bg-color;
          &:nth-of-type(2){
            position: absolute;
            top: 0;
            left: 5rem;
            background-image: linear-gradient(to bottom,
              #7f83a5 0%,
              #3c506a 50%,
              #7f83a5 100%);
          }
        }
        }
      }
    }
  }